streamlit==1.54.0
streamlit-webrtc==0.77.0
av==17.1.0

tensorflow==2.16.1
keras==3.12.2

mediapipe==0.10.14
protobuf==4.25.8

numpy==1.26.4
pandas==2.3.3

opencv-contrib-python==4.8.1.78
graphviz==0.21
